* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    height: 100vh;
    background-color: hsl(185, 75%, 39%);
    color: hsl(229, 23%, 23%);
    font-family: "Kumbh Sans", sans-serif;
}

.container {
    height: 100%;
    width: 100%;
    background: url("../assets/bg-pattern-top.svg") 0 calc(100% - 450px)  no-repeat,
                url("../assets/bg-pattern-bottom.svg") 100% calc(100% + 450px) no-repeat;

    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}

.card {
    position: relative;
    width: 350px;
    height: 400px;
    background-color: white;
    display: flex;
    flex-direction: column;
    border-radius: 25px 25px;
    z-index: 1;
    box-shadow: 1px 1px  10px  black;
}

.card-header {
    height: 35%;
    background: url("../assets/bg-pattern-card.svg");
    border-radius: 25px 25px 0 0;
}

.profile-img {
    position: absolute;
    z-index: 2;
    left: calc(50% - 60px);
    top: 15%;
    width: 125px;
    height: 125px;
    border-radius: 50%;
    border: 7px solid white;
}

.top-info {
    width: 100%;
    height: 35%;
    text-align: center;
    font-size: 18px;
    margin-top: 65px;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;

    border-bottom: 2px solid grey;
}

.light-text {
    color: grey;
    margin-top: 10px;
}

.bottom-info {
    height: 25%;
    display: flex;
    align-items: center;
    justify-items: center;
    justify-content: space-around;
    font-size: 18px;
}

.stats {
    display: flex;
    flex-direction: column;
    text-align: center;
}

@media ( max-width: 475px) {
    .container {
        height: 100%;
        width: 100%;
        background: url("../assets/bg-pattern-top.svg") -700px -450px  no-repeat,
                    url("../assets/bg-pattern-bottom.svg") 0 calc(100% + 550px)  no-repeat;
        display: flex;
        flex-direction: column;
        align-items: center;
        justify-content: center;
    }

    .card {
        width: 275px;
        height: 350px;
        position: relative;
        background-color: white;
        display: flex;
        flex-direction: column;
        border-radius: 25px 25px;
        z-index: 1;
    }

    .profile-img {
        position: absolute;
        z-index: 2;
        left: 90px;
        top: 55px;
        width: 100px;
        height: 100px;
        border-radius: 50%;
        border: 5px solid white;
    }

    .top-info {
        width: 100%;
        height: 35%;
        text-align: center;
        font-size: 16px;
        margin-top: 65px;
        display: flex;
        flex-direction: column;
        align-items: center;
        justify-content: center;
    
    }

    .bottom-info {
        font-size: 16px;
     }
}