* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    height: 100vh;
    background-color: hsl(185, 75%, 39%);
    color: hsl(229, 23%, 23%);
    font-family: "Kumbh Sans", sans-serif;
}
