.container {
    height: 100%;
    width: 100%;
    background: url("../images/bg-pattern-top.svg") -155% 145%  no-repeat,
                url("../images/bg-pattern-bottom.svg") 200% -75% no-repeat;

    background-size: 1500px 1500px, 1500px 1500px;

    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}

.card {
    position: relative;
    width: 450px;
    height: 500px;
    background-color: white;
    display: flex;
    flex-direction: column;
    border-radius: 25px 25px;
    z-index: 1;
}

.card-header {
    height: 35%;
    background: url("../images/bg-pattern-card.svg");
    border-radius: 25px 25px 0 0;
}

.profile-img {
    position: absolute;
    z-index: 2;
    left: 175px;
    top: 145px;

    border-radius: 50%;
    border: 5px solid white;
}

.top-info {
    width: 100%;
    height: 35%;
    text-align: center;
    font-size: 18px;
    margin-top: 50px;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;

    border-bottom: 2px solid grey;
}

.light-text {
    color: grey;
    margin-top: 10px;
}

.bottom-info {
    height: 25%;
    display: flex;
    align-items: center;
    justify-items: center;
    justify-content: space-around;
    font-size: 18px;
}

.stats {
    display: flex;
    flex-direction: column;
    text-align: center;
}

