.container {
    height: 100%;
    width: 100%;
    background: url("../images/bg-pattern-top.svg") -120% 160%  no-repeat,
                url("../images/bg-pattern-bottom.svg") 180% -100% no-repeat;

    background-size: 1500px 1500px, 1500px 1500px;

    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}

.card {
    position: relative;
    width: 375px;
    height: 400px;
    background-color: white;
    display: flex;
    flex-direction: column;
    border-radius: 25px 25px;
    z-index: 1;
}

.card-header {
    height: 35%;
    background: url("../images/bg-pattern-card.svg");
    border-radius: 25px 25px 0 0;
}

.profile-img {
    position: absolute;
    z-index: 2;
    left: 125px;
    top: 75px;
    width: 125px;
    height: 125px;
    border-radius: 50%;
    border: 5px solid white;
}

.top-info {
    width: 100%;
    height: 35%;
    text-align: center;
    font-size: 18px;
    margin-top: 65px;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;

    border-bottom: 2px solid grey;
}

.light-text {
    color: grey;
    margin-top: 10px;
}

.bottom-info {
    height: 25%;
    display: flex;
    align-items: center;
    justify-items: center;
    justify-content: space-around;
    font-size: 18px;
}

.stats {
    display: flex;
    flex-direction: column;
    text-align: center;
}

@media ( max-width: 375px) {
    .container {
        height: 100%;
        width: 100%;
        background: url("../images/bg-pattern-top.svg") 120% 135%  no-repeat,
                    url("../images/bg-pattern-bottom.svg") -15% -55%  no-repeat;

        display: flex;
        flex-direction: column;
        align-items: center;
        justify-content: center;
    }

    .card {
        width: 275px;
        height: 350px;
        position: relative;
        background-color: white;
        display: flex;
        flex-direction: column;
        border-radius: 25px 25px;
        z-index: 1;
    }

    .profile-img {
        position: absolute;
        z-index: 2;
        left: 90px;
        top: 55px;
        width: 100px;
        height: 100px;
        border-radius: 50%;
        border: 5px solid white;
    }

    .top-info {
        width: 100%;
        height: 35%;
        text-align: center;
        font-size: 16px;
        margin-top: 65px;
        display: flex;
        flex-direction: column;
        align-items: center;
        justify-content: center;
    
    }

    .bottom-info {
        font-size: 16px;
     }
}