:root {
    --strong-cyan: hsl(172, 67%, 45%);
    --very-dark-cyan: hsl(183, 100%, 15%);
    --dark-grayish-cyan: hsl(184, 14%, 56%);
    --more-dark-grayish-cyan: hsl(186, 14%, 43%);
    --light-grayish-cyan: hsl(185, 41%, 84%);
    --more-light-grayish-cyan: hsl(180, 33%, 89%);
    --white: hsl(0, 0%, 100%);
    --red: #FF5C58;
    
}

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;

}

input, button {
    font-family: 'Space Mono', monospace;
    font-size: 24px;

}

body {
    height: 100vh;
    width: 100vw;
    font-family: 'Space Mono', monospace;
    font-size: 20px;
    background-color: var(--light-grayish-cyan);
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    
}

.app-container {
    display: flex;
    width: 60%;
    height: 60%;
    margin-top: 3%;
    border-radius: 2rem;
    background-color: var(--white);
    padding: 3rem;
}

.left-container {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    width: 50%;
    margin-right: 5%;
}

.top {
    width: 100%;
    height: 20%;
}

.middle {
    width: 100%;
    height: 40%;
}

.bottom {
    width: 100%;
    height: 20%;
    margin-bottom: 1%;
}

.left-container label {
    color: var(--more-dark-grayish-cyan);
    font-weight: 700;
}

.invalid-message {
    margin-left: 30%;
    color: var(--red);
    font-weight: 700;
    font-size: 1rem;
    visibility: hidden;
}

.input-wrapper {
    margin-top: 1%;
    width: 100%;
    height: 60%;
    border-radius: .3rem;
    background-color: var(--more-light-grayish-cyan);
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 0 1rem;
    cursor: pointer;
}

.input-wrapper:hover {
    border: 2px solid var(--strong-cyan);
}

.invalid-input {
    border: 2px solid var(--red);
}

.invalid-input:hover {
    border: 2px solid var(--red);
}

.input-wrapper input {
    width: 25%;
    border: none;
    outline: none;
    background: transparent;
    color: var(--very-dark-cyan);
    font-weight: 700;
    appearance: textfield;
    text-align: right; 
}

.tip-form {
    margin-top: 5%;
    display: grid;
    grid-template-rows: 1fr 1fr;
    grid-template-columns: 1fr 1fr 1fr;
    gap: 1rem;
    width: 100%;
    height: 70%;

}

.tip-amount-btn {
    border: none;
    background-color: var(--very-dark-cyan);
    color: var(--more-light-grayish-cyan);
    font-weight: 700;
    border-radius: .3rem;
    cursor: pointer;
}

.selected {
    background-color: var(--strong-cyan);
    color: var(--very-dark-cyan);
  
}

.tip-amount-btn:hover {
    background: #c5e4e7;
    color: var(--very-dark-cyan);
}

#custom-value-input {
    width: 100%;
    outline: none;
    text-align: center;
    padding: 0 5%;
    
}

#custom-value-input[disabled] {
    background-color: var(--more-light-grayish-cyan);
    color: var(--dark-grayish-cyan);
}

#custom-value-input:focus {
    background-color: var(--white);
    border: 2px solid var(--strong-cyan);
    color: var(--very-dark-cyan);
}

.right-container {
    width: 50%;
    border-radius: 1rem;
    background-color: var(--very-dark-cyan);
    padding: 2%;
}

.info-wrapper {
    display: flex;
    justify-content: space-between;
    width: 100%;
    height: 15%;
    color: var(--white);
    margin-top: 5%;
    padding: 0 5%;
}

.info-text {
    display: flex;
    flex-direction: column;
    font-weight: 700;
    font-size: 100%;
}

.info-text .person-tag {
    color: var(--dark-grayish-cyan);
    font-size: 0.8rem;
    
}

.total-value {
    font-size: 3rem;
    font-weight: 700;
    color: var(--strong-cyan);
}

.right-container button {
    border: none;
    outline: none;
    width: 100%;
    background: var(--strong-cyan);
    color:  var(--very-dark-cyan);
    font-weight: 700;
    height: 15%;
    border-radius: .5rem;
    margin-top: 18vh;
    cursor: pointer;
}

.right-container button:hover {
    background: #c5e4e7;
}

.right-container button[disabled] {
    opacity: .2;
}