@import url('https://fonts.googleapis.com/css2?family=Spartan:wght@400;500;700&display=swap');

:root {
    /*Primary */
    --very-dark-magenta: hsl(300, 43%, 22%);
    --soft-pink: hsl(333, 80%, 67%);
    
    /* Neutral */
    --dark-grayish-magenta: hsl(303, 10%, 53%);
    --light-graysh-magenta: hsl(300, 24%, 96%);
    --white: hsl(0, 0%, 100%);
}

body {
    margin: 0;
    padding: 0;
    box-sizing: border-box;

    font-family: 'Spartan', sans-serif;
    font-size: 15px;


}

