@import url('https://fonts.googleapis.com/css2?family=Spartan:wght@400;500;700&display=swap');

:root {
    /*Primary */
    --very-dark-magenta: hsl(300, 43%, 22%);
    --soft-pink: hsl(333, 80%, 67%);
    
    /* Neutral */
    --dark-grayish-magenta: hsl(303, 10%, 53%);
    --light-graysh-magenta: hsl(300, 24%, 96%);
    --white: hsl(0, 0%, 100%);
}

body {
    margin: 0;
    padding: 0;
    box-sizing: border-box;

    font-family: 'Spartan', sans-serif;
    font-size: 15px;

    height: 100vh;
    width: 100vw;

    display: flex;
    align-items: center;
    justify-content: center;

    background: url("/images/bg-pattern-top-desktop.svg") left top no-repeat, 
                url("/images/bg-pattern-bottom-desktop.svg") right bottom no-repeat;
    
}

.card {
    display: flex;
    flex-direction: column;

    width: 1080px;
    min-width: 1080;

    height: 570px;
    min-height: 570px;
    
}

.card-top {
    display: flex;
    height: 50%;
    width: 100%;
    
}

.card-top .text-wrapper {
    width: 50%;
}

.card-top .text-wrapper h1 {
    width: 80%;
    color: var(--very-dark-magenta);
    font-size: 48px;
    font-weight: 700;
    margin-bottom: 5px;
}

.card-top .text-wrapper span {
    display: block;
    width: 95%;
    color: var(--dark-grayish-magenta);
    font-weight: 500;
}

.card-bottom {
    height: 50%;
    width: 100%;
}
