@import url('https://fonts.googleapis.com/css2?family=Inter:wght@300;500;700&display=swap');


:root {
    --dark-blue : hsl(240, 38%, 20%);
    --grayish-blue : hsl(240, 18%, 77%);
}

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    height: 100vh;
    width: 100vw;

    font-family: 'Inter', sans-serif;
    font-size: 62.5%;
}