:root {
--orange: hsl(26, 100%, 55%);
--pale-orange: hsl(25, 100%, 94%);
--very-dark-blue: hsl(220, 13%, 13%);
--dark-grayish-blue: hsl(219, 9%, 45%);
--grayish-blue: hsl(220, 14%, 75%);
--light-grayish-blue: hsl(223, 64%, 98%);
--white: hsl(0, 0%, 100%);
--black: hsl(0, 0%, 0%);                                            /*(with 75% opacity for lightbox background) */

}

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

li, a {
  list-style-type: none;
  text-decoration: none;
  color: var(--dark-grayish-blue);
}

button {
  border: none;
  outline: none;
  background: none;
}

body {
  display: flex;
  align-items: center;
  justify-content: center;
  font-family: 'Kumbh Sans', sans-serif;
  width: 100vw;
  height: 100vh;
  background: var(--white);
}

.container {
  max-width: 1440px;
  max-height: 900px;
  width: 100%;
  height: 100%;
  display: flex;
  align-items: center;
  flex-direction: column;
}

header {
  width: 90%;
  height: 10vh;
  border-bottom: 1px solid var(--black);
  display: flex;
  align-items: center;
}

.menu-icon {
  width: 0;
  height: 2rem;
  margin-right: 1rem;
}

.logo-icon {
  margin-right: 3rem;
}

.header-menu {
  height: 100%;
}

.header-menu ul {
  display: flex;
  height: 100%;
  width: 30rem;
  align-items: center;
  justify-content: space-between;
}

.cart-button {
  margin-left: auto;
  margin-right: 3rem;
}

.avatar-button {
  width: 50px;
  height: 50px;
}

.avatar-button img {
  width: 100%;
  height: auto;
}


main {
  height: 50vh;
  width: 100%;
  display: grid;
  grid-template: 'left right'
                 'left right';
  grid-template-columns: 1fr 1fr;
  grid-template-rows: 1fr 1fr;
  padding: 5rem;
}

.gallery-wrapper {
  padding: 0  5rem 0 5rem;
}

.selected-image {
  max-width: 100%;
  height: auto;
  border-radius: 20px;
  cursor: pointer;
}

.thumb-wrapper {
  display: flex;
  align-items: center;
  justify-content: space-between;
  margin-top: 1rem;
}

.thumb-img {
  max-width: 20%;
  border-radius: 15px;
}

.thumb-img:hover {
  opacity: .4;
  cursor: pointer;
}

.product-details-wrapper {
  display: flex;
  flex-direction: column;
  padding: 3vw;
}

.company-name {
  font-weight: 700;
  font-size: 1.5rem;
  color: var(--orange);
  margin-bottom: 2vh;
}

.product-title {
  font-weight: 700;
  font-size: 3rem;
  line-height: 1;
  color: var(--black);
  margin-bottom: 3vh;
}

.product-description {
  font-size: 1rem;
  color: var(--dark-grayish-blue);
  margin-bottom: 3vh;
}

.product-price {
  display: flex;
  width: 100%;
  align-items: center;
  margin-bottom: 1vh;
}

.price {
  font-size: 2rem;
  font-weight: 700;
  margin-right: 1rem;
}

.discount {
  display: inline;
  font-size: 1rem;
  font-weight: 700;
  color: var(--orange);
  background: var(--pale-orange);
  height: 60%;
  width: 3rem;
  text-align: center;
  line-height: 60%;
  padding: 7px 0;
  vertical-align: middle;
  border-radius: 8px;
}

.older-price {
  font-weight: 700;
  font-size: 1rem;
  text-decoration: line-through;
  color: var(--grayish-blue);
  margin-bottom: 5vh;
}

footer {
  width: 100%;
  height: 5vh;
  display: flex;
  align-items: center;
  justify-content: space-between;
}

.amout-wrapper {
  width: 40%;
  height: 100%;
  background: var(--light-grayish-blue);
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding: 0 1rem;
  border-radius: 10px;
}

.amount-btn {
  cursor: pointer;
}

.amout {
  font-weight: 700;
  color: var(--black);
  font-size: 1rem;
}

.add-to-cart-btn {
  width: 55%;
  height: 100%;
  background: var(--orange);
  color: var(--white);
  font-weight: 700;
  font-size: 1rem;
  text-transform: capitalize;
  border-radius: 10px;
  cursor: pointer;
}

.add-to-cart-btn img {
  margin-right: 1rem;
}
