:root {
--orange: hsl(26, 100%, 55%);
--pale-orange: hsl(25, 100%, 94%);
--very-dark-blue: hsl(220, 13%, 13%);
--dark-grayish-blue: hsl(219, 9%, 45%);
--grayish-blue: hsl(220, 14%, 75%);
--light-grayish-blue: hsl(223, 64%, 98%);
--white: hsl(0, 0%, 100%);
--black: hsl(0, 0%, 0%);                                            /*(with 75% opacity for lightbox background) */

  font-size: 16px;

}

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

li, a {
  list-style-type: none;
  text-decoration: none;
  color: var(--dark-grayish-blue);
}

button {
  border: none;
  outline: none;
  background: none;
}

body {
  position: relative;
  display: flex;
  align-items: center;
  justify-content: center;
  font-family: 'Kumbh Sans', sans-serif;
  width: 100vw;
  height: 100vh;
  background: var(--white);
}

.container {
  max-width: 1440px;
  max-height: 900px;
  width: 100%;
  height: 100%;
  display: flex;
  align-items: center;
  flex-direction: column;
}

header {
  width: 90%;
  height: 10vh;
  border-bottom: 1px solid var(--black);
  display: flex;
  align-items: center;
}

.menu-icon {
  width: 0;
  height: 2rem;
  margin-right: 1rem;
}

.logo-icon {
  margin-right: 3rem;
}

.header-menu {
  height: 100%;
}

.header-menu ul {
  display: flex;
  height: 100%;
  width: 30rem;
  align-items: center;
  justify-content: space-between;
}

.header-menu ul li {
  height: 100%;
  padding-top: 2.5rem;
  transition: cubic-bezier(0.075, 0.82, 0.165, 1) .2s;
}

.header-menu ul li:hover {
  border-bottom: 5px solid var(--orange);
}

.cart-button {
  margin-left: auto;
  margin-right: 3rem;
  cursor: pointer;
}

.cart-overlay {
  position: relative;
  top: -15.5rem;
  right: 20rem;
  display: flex;
  align-self: center;
  flex-direction: column;
  background: var(--white);
  box-shadow: rgba(50, 50, 93, 0.25) 0px 13px 27px -5px, rgba(0, 0, 0, 0.3) 0px 8px 16px -8px;
  height: 25vh;
  border-radius: 1rem;
  visibility: hidden;

}

.visible {
  visibility: visible;
}

.cart-overlay h1 {
  margin-top: 1rem; 
  height: 5vh;
  font-size: 1.3rem;
  border-bottom: 1px solid var(--grayish-blue);
  padding: 0 1rem;
}

.middle-card {
  display: flex;
  height: 8vh;
  padding: 1rem;
}

.middle-card .thumb-cart-img {
  width: 3rem;
  height: auto;
  margin-right: 1rem;
  border-radius: 5px;
}

.text-wrapper {
  display: flex;
  height: 100%;
  justify-content: space-between;  
  color: var(--dark-grayish-blue);
  flex-direction: column;
}

.text-wrapper span strong {
  color: var(--black);
}

.cart-delete-btn {
  width: 1rem;
  height: 1rem;
  margin-top: 1rem;
  margin-left: 1rem;
  cursor: pointer;
}

.checkout-cart-btn {
  height: 5vh;
  background: var(--orange);
  border-radius: 10px;
  font-weight: 700;
  color: var(--white);
  
  margin: 0 1rem;
  margin-top: 1rem;
  cursor: pointer;
  font-size: 1rem;
}

.avatar-button {
  width: 50px;
  height: 50px;
}

.avatar-button img {
  width: 100%;
  height: auto;
  cursor: pointer;
}

.avatar-button img:hover {
  outline: 3px solid var(--orange);
  border-radius: 50%;
}


main {
  height: 50vh;
  width: 100%;
  display: grid;
  grid-template: 'left right'
                 'left right';
  grid-template-columns: 1fr 1fr;
  grid-template-rows: 1fr 1fr;
  padding: 5rem;
}

.gallery-wrapper {
  padding: 0  5rem 0 5rem;
}

.selected-image {
  max-width: 100%;
  height: auto;
  border-radius: 20px;
  cursor: pointer;
}

.thumb-wrapper {
  display: flex;
  align-items: center;
  justify-content: space-between;
  margin-top: 1rem;
}

.thumb-container {
  max-width: 20%;
  border-radius: 15px;
}

.thumb-img {
  width: 100%;
  height: auto;
  border-radius: 5px;
}

.thumb-img:hover {
  opacity: .4;
  cursor: pointer;
 
}

.thumb-container:hover {
  outline: 3px solid var(--orange);
}

.product-details-wrapper {
  display: flex;
  flex-direction: column;
  padding: 3vw;
}

.company-name {
  font-weight: 700;
  font-size: 1.5rem;
  color: var(--orange);
  margin-bottom: 2vh;
}

.product-title {
  font-weight: 700;
  font-size: 3rem;
  line-height: 1;
  color: var(--black);
  margin-bottom: 3vh;
}

.product-description {
  font-size: 1rem;
  color: var(--dark-grayish-blue);
  margin-bottom: 3vh;
}

.product-price {
  display: flex;
  width: 100%;
  align-items: center;
  margin-bottom: 1vh;
}

.price {
  font-size: 2rem;
  font-weight: 700;
  margin-right: 1rem;
}

.discount {
  display: inline;
  font-size: 1rem;
  font-weight: 700;
  color: var(--orange);
  background: var(--pale-orange);
  height: 60%;
  width: 3rem;
  text-align: center;
  line-height: 60%;
  padding: 7px 0;
  vertical-align: middle;
  border-radius: 8px;
}

.older-price {
  font-weight: 700;
  font-size: 1rem;
  text-decoration: line-through;
  color: var(--grayish-blue);
  margin-bottom: 5vh;
}

footer {
  width: 100%;
  height: 5vh;
  display: flex;
  align-items: center;
  justify-content: space-between;
}

.amout-wrapper {
  width: 40%;
  height: 100%;
  background: var(--light-grayish-blue);
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding: 0 1rem;
  border-radius: 10px;
}

.amount-btn {
  cursor: pointer;
}

.amount-btn:hover {
  opacity: .4;
}

.amout {
  font-weight: 700;
  color: var(--black);
  font-size: 1rem;
}

.add-to-cart-btn {
  width: 55%;
  height: 100%;
  background: var(--orange);
  color: var(--white);
  font-weight: 700;
  font-size: 1rem;
  text-transform: capitalize;
  border-radius: 10px;
  cursor: pointer;
}

.add-to-cart-btn:hover {
  opacity: .4;
}

.add-to-cart-btn img {
  margin-right: 1rem;
}

@media screen and (max-width: 1235px) {
  :root {
    font-size: 14px;
  }

  .header-menu ul li { 
    padding-top: 2.8rem;
  }
}

@media screen and (max-width: 1115px) {
  :root {
    font-size: 12px;
  }

  .header-menu ul li { 
    padding-top: 3.6rem;
  }
}

/*
@media screen and (max-width: 1115px) {
  :root {
    font-size: 12px;
  }
}

*/