:root {
    /* Text */
    --very-dark-desatured-blue: hsl(238, 29%, 16%);
    --light-grey: hsl(240, 6%, 50%);
    --soft-red: hsl(14, 88%, 65%);

    /* Gradient */
    --soft-violet: hsl(273, 75%, 66%);
    --soft-blue: hsl(240, 73%, 65%);


    /* Dividers */
    --light-grayish-blue: hsl(240, 5%, 91%);
}

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    display: flex;
    justify-content: center;
    align-items: center;

    height: 100vh;

    font-size: 62.5%;
    font-family: 'Kumbh Sans', sans-serif;
    background-image: linear-gradient(var(--soft-violet), var(--soft-blue));
}

li {
    list-style-type: none;
}

.card {
    position: relative;

    display: flex;

    width: 900px;
    height: 500px;
    background-color: white;

    border-radius: 25px;
    box-shadow: 5px 5px 25px 2px black;
}

.card .box {
    position: absolute;
    left: -95px;
    top: 195px;
    z-index: 3;
}

.card .img-wrapper {
    position: relative;
    width: 50%;
    height: 100%;   
    overflow: hidden;
}

.card .img-wrapper .woman {
    position: absolute;
    bottom: 75px;
    left: -75px;
    z-index: 2;
}

.card .img-wrapper .background { 
    position: absolute;
    top: -315px;
    left: -575px;
    z-index: 1;
}

.card .accordion-container {
    display: flex;
    flex-direction: column;

    justify-content: center;
    width: 50%;
    padding: 60px;
 }

 .card .accordion-container h1 {
    height: 10%;
    margin-bottom: 40px;
    color: var(--very-dark-desatured-blue); 
    font-size: 2rem;
 }

.card .accordion-container .accordion {
    height: 90%;
    width: 95%;
    font-size: 10px;
    color: var(--light-grey);
}

.accordion-container li .list-header {
    display: flex;
    align-items: center;
    justify-content: space-between;
    line-height: 50px;
}

.accordion-container li h2 {
    font-size: 14px;

}
.accordion-container li .expand-btn {
    height: 100%;
}

.accordion-container hr {
    color: var(--light-grayish-blue);
}

.accordion li ul li {
    font-size: 12px;
    line-height: normal;
}

.accordion li h2 {
    cursor: pointer;
    font-weight: 400;
}

.accordion li:focus {
    outline: none;
}

.accordion li:focus h2 {
    outline: none;
    font-weight: 700;
    color: var(--very-dark-desatured-blue);
}

.accordion-container li:focus .expand-btn {
    transform: rotate(180deg);
}

.accordion li:focus hr {
    display: none;
}

.accordion li ul {
    opacity: 0;
    position: absolute;
    visibility: hidden;
}

.accordion li .list-header h2:hover {
    color: var(--soft-red   );
}

.accordion li:focus ul {
    visibility: visible;
    position: static;
    opacity: 1;
    font-weight: 400;
    animation: fade .5s ease-in-out;
}

@keyframes fade {
    0% {
        opacity: 0;
    }

    100% {
        opacity: 1;
    }
}
