:root {
    /* Text */
    --very-dark-desatured-blue: hsl(238, 29%, 16%);
    --light-grey: hsl(240, 6%, 50%);
    --soft-red: hsl(14, 88%, 65%);

    /* Gradient */
    --soft-violet: hsl(273, 75%, 66%);
    --soft-blue: hsl(240, 73%, 65%);


    /* Dividers */
    --light-grayish-blue: hsl(240, 5%, 91%);
}

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

html,
body,
#root {
  height: 100vh;
}

body {
    display: flex;
    justify-content: center;
    background-image: linear-gradient(var(--soft-violet), var(--soft-blue));
    font-family: 'Kumbh Sans', sans-serif;
}

.container {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 1440px;
    min-width: 1440px;
    height: 100vh;
}

.container .box {
    position: relative;
    left: 7%;
    top: 5%;
    z-index: 2;
    
}

.card {
    display: flex;
    width: 900px;
    height: 500px;

    background-color: white;

    border-radius: 25px;
    box-shadow: 5px 5px 25px 2px black;
    overflow: hidden;
}

.img-wrapper {
    position: relative;
    display: flex;
    flex-direction: column;
    width: 50%;
}

.img-wrapper .woman {
    position: absolute;
    top: 0;
    bottom: 0;
    left: -85px;
    margin: auto;
    overflow: hidden;
    z-index: 1;
}

.img-wrapper .background-woman {
    position: absolute;
    top: -55%;
    left: -585px;
    width: auto;
}

li {
    list-style: none;
}


.accordion-container {
    display: flex;
    flex-direction: column;
    justify-content: center;
    margin: 75px;
    width: 50%;
}

.accordion-container h1 {
    color: var(--very-dark-desatured-blue);
    margin-bottom: 20px;
}

.accordion li {    
    font-size: 14px;
    color: var(--light-grey);
    line-height: 50px;
}

.accordion-container li .list-header {
    display: flex;
    align-items: center;
    justify-content: space-between;
}

.accordion-container li h2 {
    font-size: 14px;

}
.accordion-container li .expand-btn {
    height: 100%;
}

.accordion-container hr {
    color: var(--light-grayish-blue);
}

.accordion li ul li {
    font-size: 12px;
    line-height: normal;
}

.accordion li h2 {
    cursor: pointer;
    font-weight: 400;
}

.accordion li:focus {
    outline: none;
}

.accordion li:focus h2 {
    outline: none;
    font-weight: 700;
    color: var(--very-dark-desatured-blue);
}

.accordion li:focus hr {
    display: none;
}

.accordion li ul {
    opacity: 0;
    position: absolute;
    visibility: hidden;
}

.accordion li .list-header h2:hover {
    color: var(--soft-red   );
}

.accordion li:focus ul {
    visibility: visible;
    position: static;
    opacity: 1;
    font-weight: 400;
    animation: fade .5s ease-in-out;
}

@keyframes fade {
    0% {
        opacity: 0;
    }

    100% {
        opacity: 1;
    }
}

